* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

/*-------------Legende---------------*/

#legende {
    position: absolute;
    font-size: 17pt;
    padding: 25px 25px 25px 25px;
    margin: 20px 0px 0px 20px;
    user-select: none;
    font-family: mic-32-new-rounded-web, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-color: rgb(255,255,255);
    background: rgba(255,255,255,0.5);
    opacity: 0.2;
    transition: opacity 0.5s;
    border-radius: 25px;
}

#legende:hover {
     opacity: 1;
 }

/*-------------Form---------------*/

.form_body{
    font-family: mic-32-new-rounded-web, sans-serif;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    background-color: rgb(255, 209, 99);
}

.form_inner{
    width: 300px;
    margin: 0 auto;
    list-style-type: none;
}

.form_inner h1{
    padding-bottom: 30px;
    text-align: center;
    font-size: 50px;
}

.form_fields{
    text-align: right;
    margin-right: 35px;
}

.form_remember_me{
    margin-left: 50px;
    margin-top: 10px;
}

.form_submit{
    text-align: center;
    margin-top: 20px;

}

/*-------------Menu---------------*/

#menu{
    text-align: center;
    margin-top: 20px;
}

#menu ul{
    list-style-type: none;
}

#menu ul li a{
    color: #000000;
    text-decoration: none;
}

#menu ul li a:hover{
    color: rgb(61, 61, 61);
}

/*-------------Gallerie---------------*/

#body_gallery{
    font-family: mic-32-new-rounded-web, sans-serif;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background-color: rgb(255, 209, 99);
}

#head_gallery{
    font-size: 50px;
}

.list_gallery{
    padding-top: 30px;
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

.list_gallery div{
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.list_gallery div img{
    width: 100%;
    border-radius: 10px;
}

.list_gallery div p{
    margin: 5px 0;
    padding: 0;
    text-align: center;
}