{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<link rel="stylesheet" href="https://use.typekit.net/nwm8nua.css">
<link rel="stylesheet" href="static/styles.css">
<button class="nav_menu_button"></button>
    <nav class="nav_menu">
        <ul>
            <li><a class="nav_link" href="http://127.0.0.1:5000/malen">Malen</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/gallery">Galerie</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/login">Login</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/register">Registrieren</a></li>
        </ul>
    </nav>
<div class="form_body">

    <div class="form_inner">
        <h1>{{ ('Register') }}</h1>
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
          {{ register_user_form.hidden_tag() }}
        <div class="form_fields">
          {{ render_field_with_errors(register_user_form.email) }}
          {{ render_field_with_errors(register_user_form.password) }}
          {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm) }}
          {% endif %}
        </div>
        <div class="form_submit">
          {{ render_field(register_user_form.submit) }}
        </div>
        </form>
        {% include "security/_menu.html" %}
    </div>

</div>
<script src="/static/nav_menu.js"></script>