<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malen</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/nwm8nua.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <button class="nav_menu_button"></button>
    <nav class="nav_menu">
        <ul>
            <li><a class="nav_link" href="/">Startseite</a></li>
            <li><a class="nav_link" href="/malen">Malen</a></li>
            <li><a class="nav_link" href="/gallery">Galerie</a></li>
            <li><a class="nav_link" href="/login">Login</a></li>
            <li><a class="nav_link" href="/register">Registrieren</a></li>
            <li><a class="nav_link" href="/logout">Logout</a></li>
        </ul>
    </nav>
    <canvas id='canvas'>
        <script src="static/sketch.js"></script>
    </canvas>
    <div id="legende">
        <p>Steuerung:</p>
        <p>A: Deckkraft ändern</p>
        <p>S: Umrisslinie an/aus</p>
        <p>D: Hintergrundfarbe ändern</p>
        <p>F: KreisFarbe ändern</p>
        <p>C: Kreise löschen</p>
        <p>T: Lokal speichern</p>
        <button id="savebutton" name="button">Speichern</button>
    </div>
    <script>

;

        document.getElementById("savebutton").addEventListener("click", function() {
            // canvas Element in dem das Bild gemalt wird
            let canvas = document.querySelector('canvas#mycanvas.p5Canvas')
            // prompt um den Bildnamen zu übergeben
            let imagename = prompt('Wie soll dein Bild heißen?:','Bildtitel')

            // url an die, die Daten verschickt werden sollen.
            const url = {{ url_for('malen')|tojson }};
            // Canvas Bildaten werden in canvasdata gespeichert.
            let canvasdata = canvas.toDataURL();
            canvasdata = canvasdata +"===";
            console.log(canvasdata);
            //in data werden userid cdata und imgname gespeichert.
            const data = {
            userid: {{ current_user.id|tojson }}, cdata: canvasdata, imgname: imagename
            }

            fetch(url, {method: 'POST', headers: {
                'Content-Type': 'application/json'},

            body: JSON.stringify(data)}).then(response => {
                if (!response.ok)
                {throw new Error('Failed to send data');}
                else{
                    window.location.assign({{ url_for('gallery')|tojson }})
                }}).catch(error => {
            console.error(error);});
        });

    </script>
<script src="/static/nav_menu.js"></script>
</body>
</html>