<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das ist die Startseite</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/nwm8nua.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <button class="nav_menu_button"></button>
    <nav class="nav_menu">
        <ul>
            <li><a class="nav_link" href="http://127.0.0.1:5000/malen">Malen</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/gallery">Gallerie</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/login">Login</a></li>
            <li><a class="nav_link" href="http://127.0.0.1:5000/register">Registrieren</a></li>
        </ul>
    </nav>
    <canvas id='canvas'>
        <script src="static/sketch.js"></script>
    </canvas>
    <div id="legende">
        <p>Steuerung:</p>
        <p>A: Deckkraft ändern</p>
        <p>S: Umrisslinie an/aus</p>
        <p>D: Hintergrundfarbe ändern</p>
        <p>F: KreisFarbe ändern</p>
        <p>C: Kreise löschen</p>
        <p>T: Lokal speichern</p>
        <button id="button" name="button">Speichern</button>
    </div>
    <script>

;

        document.getElementById("button").addEventListener("click", function() {
            // canvas Element in dem das Bild gemalt wird
            let canvas = document.querySelector('canvas#mycanvas.p5Canvas')
            // prompt um den Bildnamen zu übergeben
            let imagename = prompt('Wie soll dein Bild heißen?:','Bildtitel')

            let c=document.getElementById("mycanvas");
            let d=c.toDataURL("image/png");
            let w=window.open('about:blank','image from canvas');
            w.document.write("<img src='"+d+"' alt='from canvas'/>");

            // url an die, die Daten verschickt werden sollen.
            const url = {{ url_for('malen')|tojson }};
            // Canvas Bildaten werden in canvasdata gespeichert.
            let canvasdata = canvas.toDataURL();
            canvasdata = canvasdata +"===";
            console.log(canvasdata);
            //in data werden userid cdata und imgname gespeichert.
            const data = {
            userid: {{ current_user.id|tojson }}, cdata: canvasdata, imgname: imagename
            }

            fetch(url, {method: 'POST', headers: {
                'Content-Type': 'application/json'},

            body: JSON.stringify(data)}).then(response => {
                if (!response.ok) {throw new Exception('Failed to send data');}}).catch(error => {
            console.error(error.status);});
        });

    </script>
<script src="/static/nav_menu.js"></script>
</body>
</html>