<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Das ist die Startseite</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/nwm8nua.css">
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    <div id='container'>
        <script src="static/sketch.js"></script>
    </div>
    <div id="legende">
        <p>Steuerung:</p>
        <p>A: Deckkraft ändern</p>
        <p>S: Umrisslinie an/aus</p>
        <p>D: Hintergrundfarbe ändern</p>
        <p>F: KreisFarbe ändern</p>
        <p>C: Kreise löschen</p>
        <p>T: Lokal speichern</p>
        <button id="button" name="button">Speichern</button>
    </div>
    <script>
        document.getElementById("button").addEventListener("click", function() {
            alert("hallo button geht")});
    </script>
</body>
</html>