<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.typekit.net/nwm8nua.css">
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Malprogramm_Startseite</title>
</head>
<body>
    <button class="nav_menu_button"></button>
    <nav class="nav_menu">
        <ul>
            <li><a class="nav_link" href="/">Startseite</a></li>
            <li><a class="nav_link" href="/malen">Malen</a></li>
            <li><a class="nav_link" href="/gallery">Galerie</a></li>
            <li><a class="nav_link" href="/login">Login</a></li>
            <li><a class="nav_link" href="/register">Registrieren</a></li>
            <li><a class="nav_link" href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div id="img_startseite"></div>
    <div id="startseite_text">
        <h1> Willkommen auf CircleStroke!</h1>
        <p>CircleStroke ist eine interaktive Webanwendung,
            die es dir erlaubt interessante Bilder mit experimentellen Brushes zu malen.</p>
        <p>Registriere dich oder logge dich ein und probiere es aus!</p>

        <a href="http://127.0.0.1:5000/register">Registrieren</a>
        <a href="http://127.0.0.1:5000/login">Einloggen</a>
    </div>
    <script src="/static/nav_menu.js"></script>
</body>
</html>
